.block {
    background-color: var(--color-bright);

    * {
        color: var(--color-main);
    }

    &__header {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: var(--size-lg);
        margin-bottom: var(--size-xxxl);

        * {
            font-weight: 700;
            line-height: 1.1;
        }

        @include lg {
            flex-direction: row;
        }
    }

    &__decoration {
        display: none;

        &--small {
            width: var(--size-xs);
            display: block;
        }

        @include lg {
            display: block;
            margin-left: auto;
            margin-bottom: auto;
            width: 5vw;

            &--small {
                display: none;
            }
        }
    }

    &__headline {
        font-size: var(--size-lg);
        margin: 0;
        padding: 0;

        line-height: 1.1;
        font-weight: 800 !important;

        * {
            font-weight: 900 !important;
        }

        @include sm {
            font-size: var(--size-xl);
        }

        @include lg {
            max-width: 85%;
        }
    }

    &__description {
        margin-top: var(--size-xxs);
        font-size: var(--size-xs);
        font-weight: 900 !important;
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
        position: relative;
        width: 100%;

        @include lg {
            width: 10vw;
        }

        &--big {
            width: auto;
            flex: auto;
        }
    }

    &--color {
        background-color: rgba(0, 0, 0, 0);

        * {
            color: var(--color-bright);
        }
    }
}
