.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Main;
    font-weight: 800;
    color: var(--color-main);
    font-size: var(--size-sm);
    border-radius: var(--size-sm);
    padding: var(--size-xxs) var(--size-xl);
    // border: 4px solid var(--color-bright);
    border: none;
    background-color: var(--color-bright);
    text-align: center;
    max-width: max-content;
    width: 100%;
    transition: all 0.3s ease-in-out;
    // border: none;
    outline: none;
    cursor: pointer;

    &__text {
        font-weight: 700;
        color: var(--color-main);
    }

    &:hover {
        background-color: var(--color-main);

        & .button__text {
            color: var(--color-bright);
        }
    }

    &--color {
        background-color: var(--color-main);

        & .button__text {
            color: var(--color-bright);
        }

        &:hover {
            background-color: var(--color-dark);           
        }
    }
}
