.header {
    padding: var(--size-xs) !important;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    // top: 20px;
    z-index: 3;
    // background-color: var(--color-dark);
    background-color: var(--color-bright);
    border-radius: 0 0 var(--size-xxs) var(--size-xxs);

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: var(--size-sm);
    }
}
