.offer {
    position: relative;
    overflow: visible !important;
      z-index: 10;

    &::before {
        
        content: "";
        position: absolute;
        
        inset: var(--size-sm);
        // bottom: var(--size-xxl);
        background: url(./images/background.png) center/cover no-repeat;
        filter: blur(50px);
        z-index: -1;
        // transform: scale(.9);
    }
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--size-xs);
        min-height: 30vh;
        flex-direction: column;

        @include sm {
            flex-direction: row;
        }
    }

    &__headline {
        // flex: 1;

        position: relative;
    }

    &__decoration {
        width: 20vw;

        &--top {
            position: absolute;
            top: var(--size-sm);
            left: var(--size-sm);
            height: 10vh;
            width: auto;
        }

        &--bottom {
            position: absolute;
            bottom: var(--size-sm);
            right: var(--size-sm);
            height: 10vh;
            width: auto;
            transform: rotate(180deg);
        }
    }

    &__button {
        margin: 0;
    }
}

.arrow {
    position: relative;
    display: flex;
    // width: 100%;
    flex: 1;
    background-color: var(--color-bright);
    height: calc(var(--size-xxxs) * 0.5);
    border-radius: 10pc;
    // margin-inline: var(--size-xxxs);
    * {
        border-radius: 10pc;
        background-color: var(--color-bright);
    }

    &__shoulder {
        height: calc(var(--size-xxxs) * 0.5);
        width: var(--size-sm);
        position: absolute;
        right: 0;

        &--top {
            top: 100%;
            transform: rotate(135deg) translateY(-80%);
        }

        &--bottom {
            bottom: 100%;
            transform: rotate(45deg) translateY(-80%);
        }
    }
}
