.schedule {
    position: relative;
    background: var(--color-bright);

    // overflow: hidden;

    position: relative;
    z-index: 2;

    &__headline {
        margin-bottom: var(--size-sm);
    }

    &__content {
        position: relative;
        height: 100%;
        width: 100%;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background-size: 100% 100%;
        //     pointer-events: none;
        //     z-index: 0;
        // }
    }

    &__dot {
        position: absolute;
        left: 0;
        top: 50%;
        width: var(--size-xxxs);
        height: var(--size-xxxs);
        background-color: var(--color-bright);
        border-radius: 50%;
        box-shadow: 0 0 0 4px rgba(var(--color-bright-rgb), 0.2);
    }

    &__text {
        font-size: var(--size-xs);
        color: var(--color-text);
        line-height: 1.6;
        font-weight: 300;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);

        @include xl {
            flex-direction: row;
        }
    }

    &__card-navigation {
        display: flex;
        gap: var(--size-xxl);
        justify-content: center;
        margin-top: var(--size-sm);
    }

    &__card-swiper {
        display: block !important;
        flex: none !important;
    }

    &__table {
        border-radius: var(--size-lg);
        // padding: var(--size-lg) var(--size-sm);
        display: flex;
        flex-direction: column;
        position: relative;
        // background: url(./images/background.png) left/cover no-repeat;
    }

    &__row {
        display: flex;

        &:not(:nth-last-child(1)) {
            border-bottom: 1px solid;
        }

        &--swiper {
            display: block !important;
            flex: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none !important;

            // background: url(./images/background.png) center/cover no-repeat;
            border-radius: var(--size-lg);
            // padding: var(--size-lg) var(--size-sm);
            display: flex;
            flex-direction: column;
            position: relative;

            & .schedule__cell--time {
                border: none;
                font-size: var(--size-xl) !important;
            }

            & .schedule__cell {
                display: flex !important;
                justify-content: center;
                font-size: var(--size-md);
            }
        }
    }

    &__cell {
        padding: var(--size-xxxs);
        display: flex;
        align-items: center;
        color: var(--color-bright);
        gap: var(--size-sm);
        font-weight: 700;
        text-align: center;

        &--time {
            font-size: var(--size-md);
            position: relative;
            padding-left: 0;

            * {
                font-size: var(--size-lg);
            }

            border-right: 1px solid;

            & .navigation__nav-next {
                margin-left: auto;
            }

            & .navigation__nav-prev {
                margin-right: auto;
            }
        }

        &--description {
            font-size: var(--size-xs);
        }
    }

    &__card-headline {
        color: var(--color-bright);
        font-weight: 900;
        font-size: var(--size-md);
        line-height: 1.2;
    }

    &__card-text {
        color: var(--color-bright);
        font-size: var(--size-xs);
        line-height: 1.2;

        strong {
            font-weight: 700;
            color: var(--color-bright);
        }
    }

    &__offer {
        position: relative;
        display: flex;
        flex-direction: column;

        align-items: center;
        padding: var(--size-sm);
        text-align: center;
        gap: var(--size-sm);

        &::before {
            content: "";
            position: absolute;
            inset: 0;

            background: url(./images/background.png) center/cover no-repeat;
            filter: blur(100px);

            z-index: -1;

            transform: scale(1.05);
        }
    }

    &__offer-text {
        font-weight: 600;
        color: var(--color-bright);
        font-size: var(--size-md);
    }

    &__slider {
        .schedule__card-headline {
            margin-bottom: var(--size-sm);
        }
    }

    &__button-block {
        display: flex;
        justify-content: center;
        margin-block: var(--size-lg);

        @include lg {
            justify-content: left;
        }
    }

    * {
        &:not([class^="button"]) {
            color: var(--color-main);
            border-color: var(--color-main);
        }
    }

    &--color {
        background-color: rgba(0, 0, 0, 0);

        * {
            &:not([class^="button"]) {
                color: var(--color-bright);
                border-color: var(--color-bright);
            }
        }
    }
}
